## iRobot Data Science Internship Test

In [3]:
import numpy as np
import pandas as pd

Perform data analysis exploring use patterns of the typical robot user per country. Include relevant visualizations where appropriate, and address any possible effects of data loss on your findings.

In [4]:
mission_data = pd.read_csv('/Users/gaddamnitish/Desktop/interview-homework/data/geo_data.csv')
geo_data = pd.read_csv('/Users/gaddamnitish/Desktop/interview-homework/data/mission_data.csv')

In [5]:
mission_data.head()

  country_cd          timezone           robotid
0         SE  Europe/Stockholm  T29NF13ZIYISNF79
1         JP        Asia/Tokyo  9S12V26O6G426OYR
2         IL    Asia/Jerusalem  QI6X3P9JKNILKKU1
3         IL    Asia/Jerusalem  7OMKNWMWA4XWC911
4         IL    Asia/Jerusalem  YO63CL0ZFK83SYCZ

In [6]:
geo_data.head()

            robotid             datetime  nmssn  runm  chrgm  pausem outcome
0  000NG2FMLJBT9ANZ  2017-10-01 16:17:22     40     3      1       2   stuck
1  000NG2FMLJBT9ANZ  2017-10-03 14:25:56     41    83      0      13      ok
2  000NG2FMLJBT9ANZ  2017-10-04 12:32:51     42    66     13      12      ok
3  000NG2FMLJBT9ANZ  2017-10-26 02:12:55     45    72     24       0    cncl
4  000NG2FMLJBT9ANZ  2017-10-27 07:17:39     46    61      9       0    cncl

In [7]:
mission_data.describe()

       country_cd        timezone           robotid
count        9998           10000             10000
unique         84             122             10000
top            IL  Asia/Jerusalem  VNIAGLZCOS5NP2UZ
freq         6065            6108                 1

In [8]:
geo_data.describe()

               nmssn           runm          chrgm         pausem
count  367679.000000  367679.000000  367679.000000  367679.000000
mean       73.258984      48.906383       5.152772       6.231351
std        35.749076      29.819507       8.364238       8.202553
min         1.000000       0.000000       0.000000       0.000000
25%        47.000000      27.000000       0.000000       0.000000
50%        71.000000      47.000000       0.000000       1.000000
75%        95.000000      70.000000      11.000000      12.000000
max       248.000000     144.000000      30.000000      40.000000

Imputation

In [9]:
#Checking for Null values
print('--------------------------')
print(mission_data.isnull().sum())
print('--------------------------')
print(geo_data.isnull().sum())
print('--------------------------')

# Looks like 2 of the country_cd fields are empty out of the 10000 different options. 
# These values are categorical and cannot be added in a generalisable way, hence no need to impute them.
# None of the numerical values seem empty hence no need of imputation here.

--------------------------
country_cd    2
timezone      0
robotid       0
dtype: int64
--------------------------
robotid     0
datetime    0
nmssn       0
runm        0
chrgm       0
pausem      0
outcome     0
dtype: int64
--------------------------

In [16]:
#mission_data['country_cd'].head()
print('--------------------------')
print(list(mission_data))
print('--------------------------')
print(mission_data['country_cd'].head())

--------------------------
['country_cd', 'timezone', 'robotid']
--------------------------
0    SE
1    JP
2    IL
3    IL
4    IL
Name: country_cd, dtype: object

In [13]:
#%matplotlib inline
#import matplotlib.pyplot as plt
#labels = movie_data['imdb_score']
    #font = {'fontname' = 'Arial', 'size' = 14}
    #title_font = {'weight' = 'Bold', 'size' = 18}
    #plt.rc('font',family='Times New Roman')
    #font = {'fontname':'Arial', 'size':'14'}
    #title_font = { 'weight' : 'bold','size':'12'}
#plt.hist(labels, bins = 30)
#plt.title('Distribution of IMDB ratings')
#plt.show()

Are there geographic differences in robot usage?
  - Consider all descriptive features of a mission, including when and how frequently it occurred.
  - If applicable, comment on how trends in these features might impact design decisions for the hardware, battery, or navigation algorithms of robots sold in different regions.

Calculate the time between consecutive missions for each robot ("inter-mission interval" or "IMI"). Describe any interesting relationships between IMI and other features of robot behavior.

**BONUS**: We are aware that data loss exists among the mission records, but are unsure of the cause. Quantify the extent of the loss, differentiating between discrete catastrophic events and random mission loss for individual robots. Investigate whether this loss is uniform or whether it may be impacting other analyses.